<div class="form-group">
	<div class="form-group">
		<label for="materials">Materials</label>
		<select class="form-control input-xxlarge" id="material" name="material">
			{{#each itemEnums.material}}
				<option value='{{.}}'>{{.}}</option>
			{{/each}}
		</select>
	</div>
	<div class="checkbox">
		<label>
			<input type="checkbox" name="restrictedCheck" value="">
				<strong>Check this box</strong> if the listing contains or may contain restricted materials
		</label>
	</div>
	<label for="measurements">Measurements</label>
	<div class="form-group">
		Measurements are in:  
			{{#each itemEnums.measurement.unit}}
			 	<label class="radio-inline" id="measureUnits">
					<input type="radio" name="unitmeasure" value="{{@key}}">{{this}} <span>({{@key}})</span>
				</label>
			{{/each}}
	</div>
	<div class="form-group">
		Measured item is:
			{{#each itemEnums.measurement.shape}}
				<label class="radio-inline">
					<input type="radio" name="shape" id="shapeSelection" value="{{.}}">{{.}}
				</label>
			{{/each}}
	</div>
		<div class="row">
			{{#with itemEnums.measurement}}
				<div class="col-md-2 col-lg-2 {{this}}">
					<label for="length" class="disabled">Length:</label>
					<div class="input-group dimensions">
						<input type="text" class="form-control dimensions" id="length" disabled>
						{{#each unit}}
							<span class="input-group-addon">{{@key}}.</span>
						{{/each}}
					</div>
					<label for="height" class="disabled">Height:</label>
					<div class="input-group dimensions">
						<input type="text" class="form-control dimensions" id="height" disabled>
						{{#each unit}}
							<span class="input-group-addon">{{@key}}.</span>
						{{/each}}
					</div>
				</div>
				<div class="col-md-2 col-lg-2 {{this}}">
					<label for="depth" class="disabled">Depth:</label>
					<div class="input-group dimensions">
						<input type="text" class="form-control dimensions" id="depth" disabled>
						{{#each unit}}
							<span class="input-group-addon">{{@key}}.</span>
						{{/each}}
					</div>
					<label for="diameter" class="disabled">Diameter:</label>
					<div class="input-group dimensions">
						<input type="text" class="form-control dimensions" id="diameter" disabled>
						{{#each unit}}
							<span class="input-group-addon">{{@key}}.</span>
						{{/each}}
					</div>
				</div>
			{{/with}}
		</div>
	<div class="form-group">
		<label for="condition">Condition <span class="unbold">(Select one)</span></label>
			<div class="form-group">
				{{#each itemEnums.condition.description}}
					<label class="radio-inline">
						<input type="radio" class="conditionRadio" name="condition" value="{{.}}">{{.}}
					</label>
				{{/each}}
			</div>
	</div>
</div>